<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.mpeg-4</string>
				<string>com.apple.protected-mpeg-4-video</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.movie</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>annotation</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>annotationfileicon1.icns</string>
			<key>CFBundleTypeName</key>
			<string>Annotation File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>chronoviztemplate</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ChronoVizTemplateIcon</string>
			<key>CFBundleTypeName</key>
			<string>ChronoViz Template</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>edu.ucsd.ChronoVizTemplate</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>prism.icns</string>
	<key>CFBundleIdentifier</key>
	<string>edu.ucsd.DataPrism</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>edu.ucsd.ChronoViz</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>chronoviz</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>edu.ucsd.DataPrism</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>dataprism</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>3.5.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6.0</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUFeedURL</key>
	<string>http://chronoviz.com/ChronoVizAppcast.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ChronoViz Template</string>
			<key>UTTypeIconFile</key>
			<string>ChronoVizTemplateIcon</string>
			<key>UTTypeIdentifier</key>
			<string>edu.ucsd.ChronoVizTemplate</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>chronoviztemplate</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
